<ion-view view-title={{medical.name|uppercase}} class="myCiti-view">
    <ion-content>
        <div class="card">
            <div class="item">
                <img ng-src='{{image}}' class="full-image" height="150px;">
            </div>
        </div>
        <div class="card">
            <div class="item">
                <h3>{{medical.name | uppercase}}</h3></item>
                <div class="item item-body">
                    <div ng-if="medical.desc!=null">
                        <p>{{medical.desc}}</p>
                    </div>
                </div>
            </div>
            <div class="card" ng-repeat="card in medical.cards | orderBy:'priority'">
                <div class="item item-body">
                    <div ng-if='card.title != null' class="item">
                        <h4>{{card.title | uppercase}}</h4>
                    </div>
                    <div ng-if="card['sub-title'] !=null" class="item">
                        <h5>{{card['sub-title'] | camelcase}}</h5>
                    </div>
                    <div ng-if='card.image !=null ' class="item">
                        <img ng-src='{{card.image}} ' class="full-image " height="150px;">
                    </div>
                    <div ng-if='card.desc !=null ' class="item">
                        <p>{{card.desc}}</p>
                    </div>
                    <div ng-if="card['list-with-title'] != null" class="item">
                        <ul ng-repeat="listItem in card['list-with-title']">
                            <li ng-if="listItem !=null">{{listItem.key | camelcase}} - {{listItem.value | camelcase}}</li>
                        </ul>
                    </div>
                    <div ng-if="card.list != null">
                        <ul class="list">
                            <li ng-repeat="item in card.list">
                                <span>{{item | camelcase}}</span>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="card.images != null" class="item">
                        <div ng-repeat="images in card.images">
                            <span ng-repeat="img in images">{{img.title}}
                    <!--<img ng-src='{{img.image}}' height="100px;width:100px">-->
                    </span>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>