<ion-view view-title={{business.name|uppercase}} class="myCiti-view">
    <ion-content>
        <ion-slide-box show-pager="false" ion-slide-tabs slide-tabs-scrollable="false">
            <ion-slide ion-slide-tab-label="Info">
                <div class="card">
                    <div class="item">
                        <img ng-src='{{image}}' class="full-image" height="150px;">
                    </div>
                </div>
                <div class="card">
                    <div class="item">
                        <h2>{{business.name | uppercase}}</h2></item>

                        <div class="item item-body">
                            <div ng-if="business.desc!=null">
                                <p>{{business.desc}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-repeat="card in business.cards | orderBy:'priority'">
                        <div class="item item-body">
                            <div ng-if='card.title != null' class="item">
                                <h4>{{card.title | uppercase}}</h4>
                            </div>
                            <div ng-if="card['sub-title'] !=null" class="item">
                                <h5>{{card['sub-title'] | camelcase}}</h5>
                            </div>
                            <div ng-if='card.image !=null ' class="item">
                                <img ng-src='{{card.image}} ' class="full-image " height="150px;">
                            </div>
                            <div ng-if='card.desc !=null ' class="item">
                                <p>{{card.desc}}</p>
                            </div>
                            <div ng-if="card['list-with-title'] != null" class="item">
                                <ul ng-repeat="listItem in card['list-with-title']">
                                    <li ng-if="listItem !=null">{{listItem.key | camelcase}} - {{listItem.value | camelcase}}</li>
                                </ul>
                            </div>
                            <div ng-if="card.list != null">
                                <ul class="list">
                                    <li ng-repeat="item in card.list">
                                        <span>{{item | camelcase}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="card.images != null" class="item">
                                <div ng-repeat="images in card.images track by $index">
                                    <span ng-repeat="img in images">{{img.title}}
                    <!--<img ng-src='{{img.image}}' height="100px;width:100px">-->
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Gallery">
                <ion-gallery ion-gallery-items="items" ion-gallery-row="3"></ion-gallery>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Contact">
                 <div class="card">
                    <div class="item">
                <merchant name="{{merchant.name}}" email="{{merchant.email}}" address1="{{merchant.Address.address1}}" address1="{{merchant.Address.address2}}" phone1="fa fa-phone{{merchant.Address.phone1}}" phone2="{{merchant.Address.phone2}}"></user>
                 </div></div>
                  <div class="card">
                    <div class="item">
                     <div class='map-wrapper'>
                           <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"><
                               <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'"></ui-gmap-markers>
                                     </div></div>
                  <!--<div id="map-canvas" data-tap-disabled="true"></div>-->
                  </div>
                  </ion-slide>
        </ion-slide-box>
        
    </ion-content>
</ion-view>